{% load thumbnail %}
{% load static %}
{% comment %} <div class="product-link"> {% endcomment %}
{% if product.is_available is False and request.resolver_match.view_name != 'moderation:moderation_product'%}
  <div class="is_unavailable">
{% else %}
    <div>
{% endif %}
      <div class="col">
        <div class="box-with-shadow">
          <div class="card shadow-sm">
            <!--Изображение товара-->
              {% if product.image %}
                {% thumbnail product.image "410x320" crop="center" as im %}
                  <img class="card-img top" src="{{ im.url }}">
                {% endthumbnail %}
              {% else %}
                  <img alt="" src="{% static 'img/default/product.jpg' %}" width="100%" class="frame2">
              {% endif %}
            <!---->
            <div class="card-body">
              <a href="{% url 'shop:product' product.id %}" class="stretched-link"></a>
              <h5 class="card-title">{{ product.name }}</h5>
              <div class="col" style="z-index:2; position: relative;">
                <h6 class="card-title">Магазин: <a href="{% url 'shop:shop' product.shop.id %}" class="custom-link">{{ product.shop.name }}</a></h6>
              </div>
              {% if product.avg_rating %}
                <p>Рейтинг товара: {{ product.avg_rating|floatformat:"0" }}/5⭐</p>
              {% else %}
                <p>Рейтинг товара: отзывов нет</p>
              {% endif %}
                <p><b>Цена: {{product.price }} ₽</b></p>
              <div class="row row-cols-auto">
                {% for category in product.category.all %}
                  <div class="col" style="z-index:2; position: relative;">
                    <a href="{% url 'shop:category' category.slug %}" class="btn btn-light btn-custom-category" style="font-size:12px">
                      {{ category.name }}
                    </a>
                  </div>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col">
                  <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="col text-end">
                  <small class="text-muted">{{ product.created_date }}</small>
                </div>
              </div>
              {% if product.shop.owner != request.user and request.user.is_authenticated and request.resolver_match.view_name != 'moderation:moderation_product' %}
                <hr class="hr-dashed-gradient"></hr>
                <div style="z-index:2; position: relative;">
                  <div class="btn-group justify-content-start">
                    {% if product.is_available %}
                      <form action="{% url 'cart:add_to_cart' %}" method="POST" class="add-to-cart-form" id="{{ product.id }}">
                        {% csrf_token %}
                        {% if product.in_cart %}
                          <button style="position: relative" type="submit" class="btn btn-success btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="В корзине">
                            <i class="fa-solid fa-basket-shopping"></i>
                          </button>
                        {% else %}
                          <button style="position: relative" type="submit" class="btn btn-outline-success btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="В корзину">
                            <i class="fa-solid fa-basket-shopping"></i>
                          </button>
                        {% endif %}
                      </form>
                    {% else %}
                      <div class="text-center" style="margin-right:10px">
                        <div>
                          <h5>Нет в наличии</h5>
                        </div>
                        {% comment %} <div>
                          <a href="">
                            <span >сообщить о появлении</span>
                          </a>
                        </div> {% endcomment %}
                      </div>
                    {% endif %}
                      <form action="{% url 'users:change_favorite' %}" method="POST" class="favorite-form" id="{{ product.id }}">
                        {% csrf_token %}
                        <div class="favorite-btn-wrap">
                          {% if product.is_favorite %}
                            <button style="position: relative" type="submit" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="В избранном">
                              <i class="fa-solid fa-heart"></i>
                            </button>
                          {% else %}
                            <button style="position: relative" type="submit" class="btn btn-outline-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="В избранное">
                              <i class="fa-regular fa-heart"></i>
                            </button>
                          {% endif %}
                        </div>
                      </form>
                  </div>
                </div>
              {% else %}
              <hr class="hr-dashed-gradient"></hr>
              {% endif %}
              {% if request.resolver_match.view_name == 'moderation:moderation_product' %}
                <div class="row text-center" style="z-index:2; position: relative;">
                  <div class="col">
                    <form method="POST" action="{% url 'moderation:accept_product' product.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-success">
                        Одобрить
                      </button>
                    </form>
                  </div>
                  <div class="col">
                    <a href="{% url 'moderation:reject_product' product.id %}" class="btn btn-outline-danger">Отклонить</a>
                  </div>
                </div>
              {% else %}
              <!--Плашка для владельца магазина-->
                {% if product.shop.owner == request.user %}
                  <div>
                    <h5>Информация для владельца:</h3>
                      {% if product.visibile == True %}
                        <p class="accept">Видимость товара: {{ product.visibile }}
                          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
                        </p>
                      {% else %}
                        <p class="reject">Видимость товара: <i class="fa-sharp fa-solid fa-circle"></i>{{ product.visibile }}
                          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
                        </p>
                      {% endif %}
                      {% if product.status == 'Accept' %}
                        <p class="accept">Статус товара: {{ product.get_status_display }}
                          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
                        </p>
                      {% elif product.status == 'Reject' %}
                        <p class="reject">Статус товара: {{ product.get_status_display }}
                          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
                        </p>
        
                          <p>Причина: {{ product.moderation.first.reason }}</p>

                      {% else %}
                        <p class="in_consideration">Статус товара: {{ product.get_status_display }}
                          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
                        </p>
                      {% endif %}
                    </div>
                  <!---->
                  <div class="btn-group" style="z-index:2; position: relative;">
                    <a href="{% url 'shop:create_item' product.id %}" class="btn btn-sm btn-outline-secondary">Добавить товар</a>
                    <form method="POST" action="{% url 'shop:delete_product' product.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-outline-secondary">Удалить продукт</button>
                    </form>
                    <a href="{% url 'shop:edit_product' product.shop.id product.id %}" class="btn btn-sm btn-outline-secondary">Изменить продукт</a>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% comment %} </div> {% endcomment %}