{% load thumbnail %}
<div class="col">
  <div class="card shadow-sm">
    {% if product.image %}
      {% thumbnail product.image "410x225" crop="center" upscale=TRUE as im %}
        <img class="card-img top" src="{{ im.url }}">
      {% endthumbnail %}
    {% else %}
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Фото товара отсутсвует</text></svg>
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <h6 class="card-title">{{ shop.name }}</h6>
      <p>Рейтинг товара: 4/5⭐</p>
      <p class="card-text">{{ product.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          
          {% if product.shop.owner != request.user %}
            {% if request.resolver_match.view_name != 'shop:product' %}
              <a href="{% url 'shop:product' product.id %}" class="btn btn-sm btn-outline-secondary">Смотреть</a>
            {% endif %}
            <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
          {% endif %}
        </div>
        <small class="text-muted">{{ product.created_date }}</small>
      </div>
      {% if request.resolver_match.view_name == 'moderation:product_moderation' %}
        <div class="text-center">
          <a href="{% url 'moderation:accept_product' product.id %}" class="btn btn-outline-success">Одобрить</a>
          <a href="{% url 'moderation:reject_product' product.id %}" class="btn btn-outline-danger">Отклонить</a>
        </div>
      {% else %}
        {% if product.shop.owner == request.user %}
          <div class="btn-group">
            {% if request.resolver_match.view_name == 'shop:product' %}
            {% else %}
              <a href="{% url 'shop:product' product.id %}" class="btn btn-sm btn-outline-secondary">Страница продукта</a>
            {% endif %}
            <a href="{% url 'shop:create_item' product.id %}" class="btn btn-sm btn-outline-secondary">Добавить товар</a>
            <a href="{% url 'shop:delete_product' product.id %}" class="btn btn-sm btn-outline-secondary">Удалить продукт</a>
            <a href="{% url 'shop:edit_product' product.shop.id product.id %}" class="btn btn-sm btn-outline-secondary">Изменить продукт</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>