{% load thumbnail %}
{% load static %}
<!-- Single item -->
<div class="row">
  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
    <!--Изображение товара-->
    {% if obj.product.image %}
      {% thumbnail obj.product.image "410x320" crop="center" as im %}
        <img class="card-img top" src="{{ im.url }}">
      {% endthumbnail %}
    {% else %}
      <img alt="" src="{% static 'img/default/product.jpg' %}" width="100%" class="frame2">
    {% endif %}
    <!---->
  </div>

  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
    <!-- Data -->
    <p><strong>Название: {{ obj.product.name }}</strong></p>
    <p>Магазин: {{ obj.product.shop.name }}</p>
    <p>Цена за штуку: {{ obj.price }} ₽</p>
    <p>Количество: {{ obj.count_items }} шт.</p>
    <a href="{% url 'cart:del_from_cart' obj.product.id %}" class="btn btn-primary btn-sm me-1 mb-2">
      <i class="fas fa-trash"></i>
    </a>
    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
      title="Move to the wish list">
      <i class="fas fa-heart"></i>
    </button>
    <!-- Data -->
  </div>

  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
    <!-- Price -->
    <h4 class="text-start text-md-center">Цена</h3>
    <p class="text-start text-md-center">
      <strong>{{ obj.full_price }} ₽</strong>
    </p>
    <!-- Price -->
  </div>
</div>
<!-- Single item -->