{% load thumbnail %}
{% load static %}
<div style="width:70%; margin:auto">
  <section class="py-5 text-center container">
    <h3>Заказ номер: {{ order.pk }}</h3>
  </section>
  {% for obj in order.order_history.all %}
    <!-- Single item -->
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
        <!--Изображение товара-->
        {% if obj.product.image %}
          {% thumbnail obj.product.image "410x320" crop="center" as im %}
            <img class="card-img top" src="{{ im.url }}">
          {% endthumbnail %}
        {% else %}
          <img alt="" src="{% static 'img/default/product.jpg' %}" width="100%" class="frame2">
        {% endif %}
        <!---->
        {% if obj.review is False %}
          <div class="text-center" style="margin:10px">
            <a href="{% url 'shop:product' obj.product.id %}#add-review" class="btn btn-outline-secondary">Оставить отзыв</a>
          </div>
        {% endif %}
      </div>

      <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
        <!-- Data -->
        <p><strong>Название: {{ obj.product.name }}</strong></p>
        <p>Магазин: {{ obj.product.shop.name }}</p>
        <p>Цена за штуку: {{ obj.price }} ₽</p>
        <p>Количество: {{ obj.count_items }} шт.</p>
        <!-- Data -->
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Price -->
        <h4 class="text-start text-md-center">Цена</h3>
        <p class="text-start text-md-center">
          <strong>{{ obj.full_price }} ₽</strong>
        </p>
        <!-- Price -->
      </div>
    </div>
    <!-- Single item -->
    {% if forloop.last %}
    {% else %}
      <hr></hr>
    {% endif %}
  {% endfor%}
  <hr class="hr-dashed-gradient"></hr>
</div>