{% load custom_filters %}
{% load static %}
<body><section id="testimonials">
  <div class="testimonial-box-container">
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            {% if review.user.image %}
              <img src="{{ review.user.image }}" />
            {% else %}
              <img src="{% static 'img/default/user.webp' %}" />
            {% endif %}
          </div>
          <div class="name-user">
            <strong>{{ review.user.username }}</strong>
            <span>{{ review.created_date }}</span>
          </div>
        </div>
        <div class="reviews">
          {% for _ in review.rating|custom_range %}
            <i class="fas fa-star"></i>
          {% endfor %}
          {% comment %} <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i> {% endcomment %}
        </div>
      </div>
      <div class="client-comment">
          <p>{{ review.text }}</p>
      </div>
    </div>
  </div>
</section></body>