{% load custom_filters %}
{% load thumbnail %}
{% load static %}
<body><section id="testimonials">
  <div class="testimonial-box-container">
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            {% if review.user.image %}
            {% thumbnail request.user.image "45x45" crop="center" as im %}
              <img src="{{ im.url }}" alt="avatar"
                class="rounded-circle img-fluid">
            {% endthumbnail %}
            {% else %}
              <img src="{% static 'img/default/user.webp' %}" class="rounded-circle img-fluid">
            {% endif %}
          </div>
          <div class="name-user">
            <strong>{{ review.user.username }}</strong>
            <span>{{ review.created_date }}</span>
          </div>
        </div>
        <div class="reviews">
          {% for _ in 5|custom_range %}
            {% if forloop.counter > review.rating %}
              <i class="far fa-star"></i>
            {% else %}
              <i class="fas fa-star"></i>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="client-comment">
          <p>{{ review.text }}</p>
          {% if request.resolver_match.view_name == 'review:reviews_shop_list' %}
            <hr style="margin-top:10px"></hr>
            <p><i>Отзыв о продукте: {{ review.product }}</i></p>
          {% endif %}
      </div>
    </div>
  </div>
</section></body>