{% load thumbnail %}
<div class="card" style="padding:0;">
  {% comment %} {% if shop.image %}
    {% with image=shop.image %}
      {% thumbnail image "960x339" crop="center" upscale=TRUE as im %}
        <img class="card-img top" src="{{ im.url }}">
      {% endthumbnail %}
    {% endwith %}
  {% else %}
    {% with image=default_image %}
      {% thumbnail image "960x339" crop="center" upscale=TRUE as im %}
        <img class="card-img top" src="{{ im.url }}">
      {% endthumbnail %}
    {% endwith %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% if shop.image %}
      {% thumbnail shop.image "960x500" crop="center" upscale=TRUE as im %}
        <img class="card-img top" src="{{ im.url }}">
      {% endthumbnail %}
    {% endif %}
  
  <div class="card-header">
    {{ shop.name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Средний рейтинг магазина</h5>
    <h5 class="card-title">Статус: {{ shop.get_status_display }}</h5>
    <h6 class="card-text"> Причина: {{ shop.shop_in_moderation_history.first.reason }} </h6>
    <p class="card-text">{{ shop.description }}</p>
    <hr></hr>
    <div class="text-center">
      {% if request.resolver_match.view_name == 'moderation:moderation_shop' %}
        <a href="{% url 'moderation:accept_shop' shop.id %}" class="btn btn-outline-success">Одобрить</a>
        <a href="{% url 'moderation:reject_shop' shop.id %}" class="btn btn-outline-danger">Отклонить</a>
      {% else %}
        <a href="{% url 'shop:shop' shop.pk %}" class="btn btn-primary">Перейти в магазин</a>
        {% if request.user == shop.owner %}
          <a href="{% url 'shop:edit_shop' shop.pk %}" class="btn btn-primary">Редактировать магазин</a>
          <a href="{% url 'shop:delete_shop' shop.pk %}" class="btn btn-primary">Удалить магазин</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
  
