{% load thumbnail %}
{% load static %}
<div class="card" style="padding:0;">
    {% if shop.image %}
      {% thumbnail shop.image "500x250" crop="center" upscale=TRUE as im %}
        <img class="shop-img" src="{{ im.url }}">
      {% endthumbnail %}
    {% else %}
      <img class="shop-img-default" src="{% static 'img/default/shop.webp' %}">
    {% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ shop.name }}</h3>
    <hr class="hr-dashed-gradient"></hr>
    {% if shop.avg_rating %}
      <p>Рейтинг магазина: {{ shop.avg_rating|floatformat:"0" }}/5⭐</p>
    {% else %}
      <p>Рейтинг магазина: отзывов нет</p>
    {% endif %}
    <p class="card-text">Описание: {{ shop.description }}</p>
    {% if request.resolver_match.view_name == 'shop:user_shops' %}
      {% if shop.status == 'Accept' %}
        <h5 class="accept">Статус магазина: {{ shop.get_status_display }}
          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
        </h5>
      {% elif shop.status == 'Reject' %}
        <h5 class="reject">Статус магазина: {{ shop.get_status_display }}
          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
        </h5>
      {% else %}
        <h5 class="in_consideration">Статус магазина: {{ shop.get_status_display }}
          <i class="fa-sharp fa-solid fa-circle fa-2xs"></i>
        </h5>
      {% endif %}
    {% endif %}
    <hr></hr>
    <div class="text-center">
      {% if request.resolver_match.view_name == 'moderation:moderation_shop' %}
        <a href="{% url 'moderation:accept_shop' shop.id %}" class="btn btn-outline-success">Одобрить</a>
        <a href="{% url 'moderation:reject_shop' shop.id %}" class="btn btn-outline-danger">Отклонить</a>
      {% else %}
        <a href="{% url 'shop:shop' shop.pk %}" class="btn btn-outline-secondary">Перейти в магазин</a>
        {% if request.user == shop.owner %}
          <a href="{% url 'shop:edit_shop' shop.pk %}" class="btn btn-outline-secondary">Редактировать магазин</a>
          <form method="POST" action="{% url 'shop:delete_shop' shop.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">
              Удалить магазин
            </button>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
  
