{% extends 'base.html' %}
{% block title %} Страница отзывов для магазина {{ shop.name }} {% endblock title %}
{% block content %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Отзывы магазина <b>{{ shop.name }}</b></h1>
          <p>
            <a href="#" class="btn btn-primary my-2">Профиль продавца</a>
            <a href="#" class="btn btn-secondary my-2">Посмотреть отзывы</a>
            {% if shop.owner == request.user %}
              <a href="{% url 'shop:create_product' shop.id %}" class="btn btn-secondary my-2">Добавить товар</a>
            {% endif %}
            <p>Средняя оценка: 4/5⭐</p>
          </p>
        </div>
      </div>
    </section>
     <div class="album py-5 bg-light" style="margin:auto;width:60%">
        <div class="py-5 text-center container">
          <h4>Отзывы</h4>
        </div>
      <div class="container" style="width:90%">
        <div class="row">
          {% if shop_reviews_exists %}
            {% for review in page_obj %}
              {% include 'includes/review.html' %}
              {% if forloop.last %}
              {% else %}
                <hr style="margin-top:10px"></hr>
              {% endif %}
            {% endfor %}
          </div>
          <div class="d-flex align-items-center justify-content-center">
            {% include 'includes/paginator.html'%}
          </div>
          {% else %}
            <section class="py-2 text-center container">
              <h4>На данный момент отзывов нет</h4>
            </section>
          {% endif %}
      </div>
  </main>
{% endblock content %}