a.custom-card {
    text-decoration: none;
    color: inherit;
  }


* {font-family: 'Oswald', sans-serif;}

.hr-dashed-gradient {
	margin: 20px 0;
	padding: 0;
	height: 2px;
	border: none;
	background: linear-gradient(to right, transparent 50%, #fff 50%), 
				linear-gradient(to right, blue, red);
	background-size: 16px 2px, 100% 2px;
}

.accept {
    color:rgb(99, 180, 99);
}

.reject {
    color: rgb(184, 74, 74);
}

.in_consideration {
    color: rgb(221, 164, 57);
}

.shop-img-default {
    width: 50%;
    margin: auto;
}

.shop-img {
    width:100%;
    margin: auto;
    padding: 20px;
    border-radius: 10px 100px 10px 100px;
}

.btn-custom-category {
    font-size: 10px;
    color: black;
    height: 30px;
    border-radius: 50px 0px 50px 50px;
    margin-left: 0;
    margin-bottom: 10px;
}


.box-with-shadow {
  }
  
.box-with-shadow:hover {
    /* Свойство отвечающее за формирование тени 
        8px - отступ по оси Х
        10px - отступ по оси Y
        5px - радиус размытия тения
        2px - радиус распространения
        rgba - функция формирующая цвет тени
    */
    box-shadow: 8px 10px 5px 2px rgba(151, 151, 151, 0.171);
}


/* REVIEW CSS */


/* *{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;
} */
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    /* cursor: pointer; */
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
/* .testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
} */
 
/* @media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
} */
::selection{
    color: #ffffff;
    background-color: #252525;
}


.is_unavailable {
    filter: brightness(70%);
}


.dropdown-scroll {
    max-height: 100px;
    overflow-y: scroll;
}


.dropdown-toggle-notify::after {
    content: none;
}

.fa-bell {
    color: rgb(218, 192, 47);
    /* text-shadow: #000 1px 0px 1px, #000 0px 1px 1px, #000 0px -1px 1px, #000 -1px 0px 1px; */
  }


p.notify {
    font-size: 14px;
    color: #252525;
    padding: 10px;
}

