{% extends 'base.html' %}
{% block title %} История покупок {% endblock title %}
{% block content %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Digital Marketplace</h1>
          <p class="lead text-muted">Это твоя история покупок</p>
        </div>
      </div>
    </section>
    <hr class="hr-dashed-gradient"></hr>
    {% for order in page_obj %}
      {% include 'includes/order.html '%}
    {% endfor %}
    <div class="d-flex align-items-center justify-content-center">
      {% include 'includes/paginator.html'%}
    </div>
  </main>
{% endblock content %}