{% extends 'base.html' %}
{% block title %}
{% if edit_product %}
  Редактировать продукт
{% else %}
  Добавить продукт
{% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
          <div class="card-header"> 
            {% if edit_product %}      
              Редактировать продукт 
            {% else %}
              Новый продукт
            {% endif %}            
          </div>
        <div class="card-body">
          {% if edit_product %}   
            <form method="post" enctype="multipart/form-data" action="{% url 'shop:edit_product' product_id shop.id %}">
          {% else %}
            <form method="post" enctype="multipart/form-data" action="{% url 'shop:create_product' shop.id %}">
          {% endif %}
          {% csrf_token %}
            {% for field in form %}           
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}                  
                    <span class="required text-danger" >*</span>
                  {% endif %}                  
                </label>
                {{ field }}
                {% if field.help_text %}             
                  <small id="id_text-help" class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}                  
              </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if edit_product %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}