{% extends 'base.html' %}
{% block title %} Страница продуктов {% endblock title %}
{% block content %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Digital Store</h1>
          <p class="lead text-muted">Еще нет магазина? Можешь открыть прямо сейчас, добавить свой продукт и оказаться в этом списке!</p>
          <p>
            <a href="#" class="btn btn-secondary my-2">Открыть магазин</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <section class="py-5 text-center container">
        <h2>Продукты</h2>
      </section>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
            {% include 'includes/card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}