{% extends 'base.html' %}
{% block title %} Поиск {% endblock title %}
{% block content %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Digital Marketplace</h1>
          <p class="lead text-muted">Результат по поиску: {{ query }}</p>
        </div>
      </div>
    </section>
    <hr class="hr-dashed-gradient"></hr>
    <div class="album py-3 bg-white">
      <section class="py-5 text-center container">
        {% if page_obj %}
          <h2>Товары</h2>
        {% else %}
          <h2>Ни одного товара нет.</h2>
          <h2>Открывай свой магазин и добавляй свои товары!</h2>
        {% endif %}
      </section>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in page_obj %}
            {% include 'includes/card.html' %}
          {% endfor %}
        </div>
        <div class="d-flex align-items-center justify-content-center">
          {% include 'includes/paginator.html'%}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}