{% extends 'base.html' %}
{% block title %} Страница магазинов {% endblock title %}
{% block content %}
  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Digital Store</h1>
          <p class="lead text-muted">Еще нет магазина? Можешь открыть прямо сейчас и оказаться в этом списке!</p>
          <p>
            <a href="{% url 'shop:create_shop' %}" class="btn btn-secondary my-2">Открыть магазин</a>
          </p>
        </div>
      </div>
    </section>
    <hr class="hr-dashed-gradient"></hr>
    <div class="album py-3 bg-white" style="margin:auto;width:60%">
      <section class="py-5 text-center container">
        {% if page_obj %}
          <h2>Магазины</h2>
        {% else %}
          <h2>Магазинов нет, будь первым!</h2>
        {% endif %}
      </section>
      <div class="container" style="width:90%">
        <div class="row">
          {% for shop in page_obj %}
            {% include 'includes/shop_card.html' %}
            {% if forloop.last %}
            {% else %}
              <hr style="margin-top:10px"></hr>
            {% endif %}
          {% endfor %}
        </div>
        <div class="d-flex align-items-center justify-content-center">
          {% include 'includes/paginator.html'%}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}